*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background: #2B3C53;
}

.box{
    width: 400px;
    margin: auto;
    background: #292D3B;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.clock {
    padding: 10px 5px;
    margin: auto;
    background: #0F1523;
    width: 98%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    display: inline;
    font-size: 40px;
    color: #fff;
    text-align: center;
  }

  small{
      color: #fff;
      font-size: 15px;
      position: relative;
  }